appnope
asttokens
backcall
backports.functools-lru-cache
brotlipy==0.7.0
certifi==2020.6.20
cffi
charset-normalizer==2.0.12
click
cryptography
debugpy
decorator
entrypoints
et-xmlfile==1.1.0
executing
Flask
gunicorn
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter-client
jupyter-core
MarkupSafe
matplotlib-inline
nest-asyncio
numpy==1.22.3
openai==0.18.0
openpyxl==3.0.9
packaging
pandas==1.4.2
pandas-stubs==1.2.0.57
parso
pexpect
pickleshare
Pillow==9.0.1
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz==2022.1
pyzmq
requests
six
stack-data
tornado
tqdm==4.64.0
traitlets
urllib3==1.26.9
wcwidth
Werkzeug
